body {
  font-family: Comfortaa - 700 Outfit, sans-serif;

  background-color: #03001e;
}

.container {
  background-color: #1d1a35;
  margin: 120px auto;
  max-width: 600px;
  border: 5px solid plum;
  border-radius: 5px;
  color: plum;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/352/original/background.jpg?1707350660");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  line-height: 1.5;
  font-size: 38px;
}

form {
  display: flex;
  display: block;
  text-align: center;
  border-radius: 5px;
}

.input {
  border-radius: 5px;
  max-width: 400px;
  width: 500px;
  height: 30px;
}

.submit {
  color: ;
  border-radius: 5px;
  width: 100px;
  height: 36px;
  font-family: Comfortaa - 700;
}

.result {
  font-size: 20px;
  padding: 10px;
}

footer {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
}
